.mypy_cache/
/.coverage
/.nox/
/.python-version
/.pytype/
/dist/
/docs/_build/
/src/*.egg-info/
__pycache__/
.vim
.venv
t.txt
assets/Last24_tro2a.gif
assets/images.jpg
assets/new_im.jpg
assets/plot.pdf
assets/before.png
